Source: openssh-known-hosts
Section: net
Priority: extra
Maintainer: Timo Weingärtner <timo@tiwe.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4

Package: openssh-known-hosts
Architecture: all
Depends: dash, lockfile-progs, ${misc:Depends}
Recommends: openssh-client, cron
Suggests: postgresql-client, rsync, curl, gpgv
Description: known_hosts downloader for OpenSSH
 This package allows you to download public hostkeys from multiple sources
 and merge them together into one file for use by OpenSSH. Plugins included:
  * curl (optional GnuPG verification)
  * rsync (optional GnuPG verification)
  * psql
  * symlink
 New plugins can easily be written.
